# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*$py.class

# Virtual environment
.venv/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Uploads directory - we don't want to include uploaded files in the Docker image
uploads/

# Images & media
*.jpg
*.jpeg
*.png
*.jfif
*.mp4
*.avi
*.mkv

# Environment variables
.env
.env.*

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# Databases & data
*.db
*.sqlite3
*.csv
*.zip
*.tar.gz

# ML / Notebooks
*.pth
*.pt
runs/
datasets/
models/
notebooks/
